<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Inventory Manager</title>

    <!--  CSS imports -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="style.css"/>

    <!-- JS && jQuery imports -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="script.js"></script>
</head>

<body>
<header class="page-header">
    <a class="active" href="#home">Café Central</a>
</header>

<div>
    <h3>Add new products: </h3>
    <form id="productform">
        <ul>
            <li>
                <label for="name">Product name:</label>
                <input type="text" id="name" name="product_name">
            </li>
            <li>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="product_quantity">
            </li>
            <li class="button">
                <button type="button" onclick="submitProduct()">Submit</button>
            </li>
        </ul>
    </form>

</div>

<div class="searchbar">
    <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Search..."/>
</div>


<div class="table">
    <table id="products">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
    </table>
</div>

</body>


</html>