.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: cadetblue;
}

.nav-center-position-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.nav-logo-wrapper {
    height: 15%;
    position: relative;
    border-style: dashed;
}

.nav-logo-wrapper img {
    position: relative;
    width: 100%;
}

.nav-name-wrapper {
    border-style: dashed;
}

